<%- include("../../partials/head.ejs") %>

    <body>
        <%- include("../../partials/navbarUser.ejs") %>
            <div class="hero is-fullheight has-background-info-light">
                <div class="hero-body">
                    <div class="container">
                        <div class="divSection">
                            <div class="box1">

                                <div class="tabs is-centered is-toggle is-toggle-rounded">
                                    <ul>
                                        <li><a href="/user/friends">Amigos</a></li>
                                        <li class="is-active"><a href="/user/sent">Pendentes</a></li>
                                        <li><a href="/user/pending">Solicitações</a></li>
                                    </ul>
                                </div>

                                <h1>Solicitação Pendente</h1>
                                <% friends.forEach(friend=> { %>
                                    <% users.forEach(user=> { %>
                                        <% if ( friend.idRecipient==user.id ) { %>
                                            <div class="list1">
                                                <div class="imgBx1">
                                                    <img src="/uploads/<%= user.avatar %>" alt="">
                                                </div>
                                                <div class="content1">
                                                    <h4>
                                                        <%= user.name %>

                                                    </h4>
                                                    <p>
                                                        <!-- tratamento para deixa letra maiuscula -->
                                                        <%= user.profession!=null || "" ?
                                                            user.profession.substring(0,1).toUpperCase()+user.profession.substring(1)
                                                            : "Nenhum emprego" %>
                                                    </p>
                                                </div>
                                            </div>
                                            <% } %>
                                                <% }) %>

                                                    <% }) %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </body>

    <% - include("../../partials/rodape.ejs") %>